
.button{
    display: inline-block;
    background-color: #E3C261;
    
    line-height: 60px;
    padding: 18px 20px;
    box-shadow: 5px 5px 0 #000000;
    margin-right: 0;
    cursor:pointer;
    transition: transform 0.4s linear, opacity 0.4 ease-in-out;

    color: #FFF;
    font-size: 20px;
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    text-decoration: none;
}
.button:hover{
    background-color: #E1DA65;
    transform: scale(1.08);
    opacity: 0.5;
}
