.card-project{
background-color: #7c5e99;
display: flex;
justify-content: center;
align-items: center;
height: 280px;
width: 280px;
box-shadow: 10px 10px 0px #FFF;
}

.card-project.-blue{
    background-color: #4c5b84;
}