.main-form {
    background-color: #3a4042;
    padding: 50px 40px;
}
.main-form .main-titles {
    margin-bottom: 50px;
}

.main-form .main-input {
    margin-bottom: 20px;
}

.main-form .main-inpit.-textarea {
    margin-bottom: 20px;
}