.main-titles{
    color: #E3C261;
    font-family: 'Press Start 2P';
    font-size: 40px;
    text-shadow: 4px 4px 0 #000;
}
.main-titles.-second{
    color: #fff;
    text-shadow: none;
    text-align: center;
}
